:root {
  --fg-deep-forest: #0E412F;
  --fg-forest: #124F38;
  --fg-sage: #71866A;
  --fg-ochre: #C49A55;
  --fg-terracotta: #B86F56;
  --fg-dusty-blue: #63869A;
  --fg-plum: #865C67;
  --fg-fruit-red: #B71C1C;
}
